mixin navbar(user)
  nav(class="navbar navbar-default")
    .container-fluid
      .navbar-header
        a(class="navbar-brand", href="#") Blogger
      ul(class="nav navbar-nav navbar-left")
        li
          a(href="/") Home
      ul(class="nav navbar-nav navbar-right")
        if (user == undefined)
          li
            a(href="/users/login") Login
          li
            a(href="/users/register") Register
        else
          li
            a(href="/users/settings")= user.username
          li
            a(href="/users/logout") Logout
